body {
    background: linear-gradient(to right,rgb(6, 117, 245), rgb(18, 191, 197));
}

table, td, th {
    border: 1px solid black;
  }
  

table {
    max-width: 700%;
    height: 70%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    margin-bottom: auto;

}

td button {
    width: 100%;
    height: 100%;
}
button:hover {
    background-color:rgba(0, 0, 0, .55) ;
    color: rgba(255, 255, 255, .75);
    cursor:pointer;
}
button {
    font-size: 50px;
    border-radius: 2%;
    border: 0;
    background-color:rgba(255, 255, 255, .75)

}

.output {
    background-color: black;
    color: white;
    font-size: 2.5rem;
}